* {
    font-family: 'Lilita One', cursive;
    margin: 0;
    padding: 0;
}

body {
    transition: all .4s ease 0s;
    padding-bottom: 100px;
    background: rgb(232, 232, 232);
}


#jonathan-signature {
    margin: 0;
    padding: 0;
    padding-left: 100px;
    height: 350px;
}

h1, li, a {
    font-size: 30;
    color: #2F6EC2;
    text-decoration: none;
    text-shadow: 1px 1px 3px black;
}

.upper-bar {
    background: rgb(237, 237, 237);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.tabs li {
    display: inline-block;
    padding: 0px 100px;
}

.tabs li a {
    transition: all .3s ease 0s;
}

.tabs li a:hover {
    opacity: 85%;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 200px;
    padding-left: 500px;
    padding-right: 500px;
}

.download-resume {
    border: none;
    border-radius: 10px;
    height: 100px;
    width: 300px;
    margin-top: 40px;
    font-size: 30;
    background: #2F6EC2;
    color: rgb(234, 234, 234);
    box-shadow: 1px 1px 5px black;
    transition: all .3s ease 0s;
}

.download-resume:hover {
    cursor: pointer;
    opacity: 90%;
}

#jonathan-name {
    line-height: 1.6;
    font-weight: 200;
    font-size: 80;
}

#jonathan-bio {
    line-height: 1.6;
    font-weight: 200;
    font-size: 30;
}

.jonathan-shot {
    height: 800px;
    padding-left: 300px;
    filter: drop-shadow(2px 2px 4px #1d1d1d);
}
