* {
    font-family: 'Lilita One', cursive;
    margin: 0;
    padding: 0;
    background: rgb(221, 221, 221);
    
}

body {
    transition: all .4s ease 0s;
    padding-bottom: 300px;
}

.signature-image {
    margin: 0;
    padding: 0;
}

#jonathan-signature {
    padding-left: 100px;
    height: 350px;
}

h1, li, a {
    font-size: 30;
    background-image: linear-gradient(90deg,#3092d3,#2f6ec2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    filter: drop-shadow(1px 1px 1px #1d1d1d);
}

.upper-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-right: 100px;
}

.tabs li {
    display: inline-block;
    padding: 0px 100px;
}

.tabs li a {
    transition: all .4s ease 0s;
}
.tabs li a:hover {
    opacity: 75%;
}
.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 200px;
    padding-left: 500px;
    padding-right: 500px;
}

#jonathan-name {
    font-weight: 200;
    font-size: 80;
}

#jonathan-bio {
    font-weight: 200;
    font-size: 30;
}

#jonathan-shot {
    height: 800px;
}